
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json



terraform.tfvars
*.auto.tfvars
*.secret.tfvars
!*.tfvars.example


*.pem
*.key
.env
.env.*
*credentials*


*.retry
.vault_pass*


.DS_Store
Thumbs.db
.vscode/
.idea/
